.button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 17px;
    border-radius: 6px;
    background-color: #00AAFF;
    color: #fff;
    white-space: nowrap;

    &:hover{
        background-color: #0099f7;
    }

    &:active{
        background-color: #008aed;
    }
}